.nav {
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: white solid 1px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 0.8vw;
}

.nav .nav__img {
  width: 10vw;
  vertical-align: middle;
}

.navbar-links {
  justify-content: end;
}

.navbar-nav {
  display: flex;
  align-items: center;
}

body {
  background-color: #eee;
}

/* Marketplace sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 60px;
  background-color: #fff;
  padding: 6px 5px;
  transition: all .5s ease;
  box-shadow: 1px 0px 5px #000;
}

.sidebar.active {
  width: 150px;
}

.sidebar #btn-sidebar {
  position: absolute;
  color: #7B7878;
  right: 24px;
  top: 20px;
  font-size: 20px;
  height: 20px;
  width: 20px;
  text-align: center;
  cursor: pointer;
  transition: all .5s ease;
}

.sidebar.active #btn-sidebar {
  right: 50%;
}

.sidebar ul {
  margin-top: 20px;
}

.sidebar ul li {
  position: relative;
  height: 50px;
  width: 100%;
  list-style: none;
  border-radius: 12px;
}

.sidebar .links-name {
  display: none;
  pointer-events: none;
  transition: all .5s ease;
}

.sidebar.active .links-name {
  display: block;
  pointer-events: auto;
}

.sidebar ul li a {
  color: #7B7878;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 10px;
  white-space: nowrap;
}

.sidebar ul li a img {
  height: 20px;
  min-width: 20px;
  border-radius: 5px;
  color: #7B7878;
}

#content {
  height: 100%;
  transition: all .5s ease;
  position: relative;
  margin-left: 70px;
}

.sidebar.active~#content {
  margin-left: 160px;
}

/* title */
.title-sect {
  margin: 20px 0 0 10px;
}

.title-sect h1 {
  font: normal bold 36px/42px Raleway;
  text-transform: uppercase;
  margin-top: 10px;
  color: #535353;
}

.title-sect input {
  height: 55px;
  width: 545px;
  border: none;
  background-image: url("../svg/icon-search.svg");
  background-size: 16px;
  background-color: #fff;
  background-position-y: 21px;
  background-position-x: 15px;
  background-repeat: no-repeat;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
  border-radius: 20px;
  padding: 20px 0 20px 40px;
}

.title-sect div {
  margin-right: 50px;
}

.title-sect img {
  margin: 0 20px;
}

/* dash-content */
.subtitles {
  font: normal 600 24px/28px Raleway;
  color: #1C1D1F;
  margin-bottom: 30px;
}

.topics {
  background-color: #fff;
  padding: 22px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  height: 350px;
  position: relative;
}

.topics .elements {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  border: 2px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 15px 15px 0 15px;
}

.topics .elements p {
  font: normal normal 24px/28px Raleway;
  color: #1C1D1F;
  margin-top: 14px;
}

.topics button {
  font: normal normal 16px/19px Raleway;
  color: #007B00;
  border: none;
  background-color: #fff;
  position: absolute;
  bottom: 10px;
  right: 30px;
}

.contributions {
  background-color: #fff;
  text-align: center;
  padding: 22px 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.contributions-data {
  font: normal normal 20px/23px Raleway;
  color: #1C1D1F;
  margin-top: 14px;
}

.contributions-total {
  font: normal 500 36px/42px Raleway;
  color: #1C1D1F;
  margin-top: 14px;
}

.total-description {
  font: normal normal 16px/19px Raleway;
  color: #7B7878;
  margin-top: 14px;
}